In [1]:
import pandas as pd
import numpy as np
import os
import spacy
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
os.chdir('drive/MyDrive/NLP assignment2')

**Stage1**

In [3]:
f = open("group35-stage1.txt", 'r')
all_line = []
while True:
    line = f.readline()
    all_line.append(line)
    if not line: break
f.close()

In [18]:
import re
data_class = pd.read_excel("./Annotation.xlsx")
data_class["Word"] = data_class["Word"].apply(lambda x : x.strip())
data_class["Word"] = data_class["Word"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
data_class

                    Word Annotation  Unnamed: 2            Unnamed: 3
0               barbican        PER         NaN                   NaN
1               the moon        LOC         NaN                   NaN
2      the lunar surface        LOC         NaN                   NaN
3         the travellers        PER         NaN                   NaN
4         the lunar disc        LOC         NaN                   NaN
..                   ...        ...         ...                   ...
82  the indian peninsula        GPE         NaN  ((269, 0), (269, 2))
83     the bay of bengal        GPE         NaN  ((269, 3), (269, 6))
84          cochin china        GPE         NaN  ((269, 8), (269, 9))
85             the south        LOC         NaN                   NaN
86           the hangman        PER         NaN                   NaN

[87 rows x 4 columns]

In [19]:
res = {}
i = 0
for l in all_line:
    tmp = re.sub("[^a-zA-Z( )]","",l).lower().split(" ")
    j = 0
    for w in tmp:
        if w in np.array(data_class["Word"]):
            res[((i,j),(i,j))] = data_class["Annotation"][np.array(data_class["Word"]) == w].values[0] #+ " " + w
        j += 1

    for k in range(1,6):
        j = 0
        for ab in range(len(tmp)-k):
            w = " ".join(tmp[ab:(ab+(k+1))])
            if w in np.array(data_class["Word"]):
                res[((i,j),(i,j+k))] = data_class["Annotation"][np.array(data_class["Word"]) == w].values[0] #+ " " + w
            j += 1
    i += 1

In [20]:
my_anno = pd.DataFrame({"key" : list(res.keys()), "NER" :list(res.values())})
my_anno

                      key  NER
0        ((2, 4), (2, 4))  PER
1        ((8, 4), (8, 5))  VEH
2        ((9, 3), (9, 4))  LOC
3      ((11, 9), (11, 9))  PER
4     ((12, 8), (12, 10))  LOC
..                    ...  ...
138  ((267, 7), (267, 7))  LOC
139  ((267, 3), (267, 4))  LOC
140  ((269, 8), (269, 9))  GPE
141  ((269, 0), (269, 2))  GPE
142  ((269, 3), (269, 6))  GPE

[143 rows x 2 columns]

In [21]:
#줄바꿈 경우의 수 추가
newline = pd.DataFrame({"key": [((263, 8), (264, 0)), ((262, 7), (263,0))],
                        "NER": ["GPE", "GPE"]})
my_anno = pd.concat([my_anno,newline])

In [22]:
my_anno = my_anno.reset_index(drop = True)
my_anno

                      key  NER
0        ((2, 4), (2, 4))  PER
1        ((8, 4), (8, 5))  VEH
2        ((9, 3), (9, 4))  LOC
3      ((11, 9), (11, 9))  PER
4     ((12, 8), (12, 10))  LOC
..                    ...  ...
140  ((269, 8), (269, 9))  GPE
141  ((269, 0), (269, 2))  GPE
142  ((269, 3), (269, 6))  GPE
143  ((263, 8), (264, 0))  GPE
144  ((262, 7), (263, 0))  GPE

[145 rows x 2 columns]

In [23]:
f = open("group35-stage1.txt.provided-anno.txt", 'r')
anno_data = []
while True:
    line = f.readline()
    anno_data.append(line)
    if not line: break
f.close()

anno_data[1:3]

['((211, 13), (212, 0)) - PER\n', '((254, 7), (254, 7)) - PER\n']

In [24]:
f = open("group35-stage1.txt", 'r')
org_data = []
while True:
    line = f.readline()
    org_data.append(line)
    if not line: break
f.close()
ith_len = [len(org_data[i].split(" ")) for i in range(len(org_data))][:-1]
ith_len[:5]

[3, 1, 11, 15, 12]

In [25]:
res = {} #i는 줄, j는 열의 갯수
for i in range(len(org_data)):
    tmp = org_data[i].split(" ")
    for j in range(len(tmp)):
        res[(i,j)] = tmp[j]
res

{(0, 0): 'somewhere',
 (0, 1): 'or',
 (0, 2): 'other."\n',
 (1, 0): '\n',
 (2, 0): 'But',
 (2, 1): 'in',
 (2, 2): 'this',
 (2, 3): 'indifference',
 (2, 4): 'Barbican',
 (2, 5): 'was',
 (2, 6): 'far',
 (2, 7): 'from',
 (2, 8): 'participating.',
 (2, 9): 'Not',
 (2, 10): 'that\n',
 (3, 0): 'he',
 (3, 1): 'was',
 (3, 2): 'not',
 (3, 3): 'prepared',
 (3, 4): 'to',
 (3, 5): 'meet',
 (3, 6): 'the',
 (3, 7): 'future',
 (3, 8): 'with',
 (3, 9): 'a',
 (3, 10): 'bold',
 (3, 11): 'and',
 (3, 12): 'manly',
 (3, 13): 'heart.',
 (3, 14): 'It\n',
 (4, 0): 'was',
 (4, 1): 'his',
 (4, 2): 'inability',
 (4, 3): 'to',
 (4, 4): 'answer',
 (4, 5): 'his',
 (4, 6): 'own',
 (4, 7): 'question',
 (4, 8): 'that',
 (4, 9): 'rendered',
 (4, 10): 'him',
 (4, 11): 'uneasy.\n',
 (5, 0): 'What',
 (5, 1): '_had_',
 (5, 2): 'switched',
 (5, 3): 'them',
 (5, 4): 'off?',
 (5, 5): 'He',
 (5, 6): 'would',
 (5, 7): 'have',
 (5, 8): 'given',
 (5, 9): 'worlds',
 (5, 10): 'for',
 (5, 11): 'an',
 (5, 12): 'answer,\n',
 (6, 0): 'but',
 (6, 1): 'his',
 (6, 2): 'brain',
 (6, 3): 'sorely',
 (6, 4): 'puzzled',
 (6, 5): 'sought',
 (6, 6): 'one',
 (6, 7): 'in',
 (6, 8): 'vain.\n',
 (7, 0): '\n',
 (8, 0): 'In',
 (8, 1): 'the',
 (8, 2): 'mean',
 (8, 3): 'time,',
 (8, 4): 'the',
 (8, 5): 'Projectile',
 (8, 6): 'continued',
 (8, 7): 'to',
 (8, 8): 'turn',
 (8, 9): 'its',
 (8, 10): 'side',
 (8, 11): 'rather',
 (8, 12): 'than\n',
 (9, 0): 'its',
 (9, 1): 'base',
 (9, 2): 'towards',
 (9, 3): 'the',
 (9, 4): 'Moon;',
 (9, 5): 'that',
 (9, 6): 'is,',
 (9, 7): 'to',
 (9, 8): 'assume',
 (9, 9): 'a',
 (9, 10): 'lateral',
 (9, 11): 'rather',
 (9, 12): 'than',
 (9, 13): 'a\n',
 (10, 0): 'direct',
 (10, 1): 'movement,',
 (10, 2): 'and',
 (10, 3): 'this',
 (10, 4): 'movement',
 (10, 5): 'was',
 (10, 6): 'fully',
 (10, 7): 'participated',
 (10, 8): 'in',
 (10, 9): 'by',
 (10, 10): 'the\n',
 (11, 0): 'multitude',
 (11, 1): 'of',
 (11, 2): 'the',
 (11, 3): 'objects',
 (11, 4): 'that',
 (11, 5): 'had',
 (11, 6): 'been',
 (11, 7): 'thrown',
 (11, 8): 'outside.',
 (11, 9): 'Barbican',
 (11, 10): 'could\n',
 (12, 0): 'even',
 (12, 1): 'convince',
 (12, 2): 'himself',
 (12, 3): 'by',
 (12, 4): 'sighting',
 (12, 5): 'several',
 (12, 6): 'points',
 (12, 7): 'on',
 (12, 8): 'the',
 (12, 9): 'lunar',
 (12, 10): 'surface,\n',
 (13, 0): 'by',
 (13, 1): 'this',
 (13, 2): 'time',
 (13, 3): 'hardly',
 (13, 4): 'more',
 (13, 5): 'than',
 (13, 6): 'fifteen',
 (13, 7): 'or',
 (13, 8): 'eighteen',
 (13, 9): 'thousand',
 (13, 10): 'miles\n',
 (14, 0): 'distant,',
 (14, 1): 'that',
 (14, 2): 'the',
 (14, 3): 'velocity',
 (14, 4): 'of',
 (14, 5): 'the',
 (14, 6): 'Projectile',
 (14, 7): 'instead',
 (14, 8): 'of',
 (14, 9): 'accelerating',
 (14, 10): 'was\n',
 (15, 0): 'becoming',
 (15, 1): 'more',
 (15, 2): 'and',
 (15, 3): 'more',
 (15, 4): 'uniform.',
 (15, 5): 'This',
 (15, 6): 'was',
 (15, 7): 'another',
 (15, 8): 'proof',
 (15, 9): 'that',
 (15, 10): 'there',
 (15, 11): 'was\n',
 (16, 0): 'no',
 (16, 1): 'perpendicular',
 (16, 2): 'fall.',
 (16, 3): 'However,',
 (16, 4): 'though',
 (16, 5): 'the',
 (16, 6): 'original',
 (16, 7): 'impulsive',
 (16, 8): 'force',
 (16, 9): 'was\n',
 (17, 0): 'still',
 (17, 1): 'superior',
 (17, 2): 'to',
 (17, 3): 'the',
 (17, 4): "Moon's",
 (17, 5): 'attraction,',
 (17, 6): 'the',
 (17, 7): 'travellers',
 (17, 8): 'were',
 (17, 9): 'evidently\n',
 (18, 0): 'approaching',
 (18, 1): 'the',
 (18, 2): 'lunar',
 (18, 3): 'disc,',
 (18, 4): 'and',
 (18, 5): 'there',
 (18, 6): 'was',
 (18, 7): 'every',
 (18, 8): 'reason',
 (18, 9): 'to',
 (18, 10): 'hope',
 (18, 11): 'that',
 (18, 12): 'they\n',
 (19, 0): 'would',
 (19, 1): 'at',
 (19, 2): 'last',
 (19, 3): 'reach',
 (19, 4): 'a',
 (19, 5): 'point',
 (19, 6): 'where,',
 (19, 7): 'the',
 (19, 8): 'lunar',
 (19, 9): 'attraction',
 (19, 10): 'at',
 (19, 11): 'last',
 (19, 12): 'having\n',
 (20, 0): 'the',
 (20, 1): 'best',
 (20, 2): 'of',
 (20, 3): 'it,',
 (20, 4): 'a',
 (20, 5): 'decided',
 (20, 6): 'fall',
 (20, 7): 'should',
 (20, 8): 'be',
 (20, 9): 'the',
 (20, 10): 'result.\n',
 (21, 0): '\n',
 (22, 0): 'The',
 (22, 1): 'three',
 (22, 2): 'friends,',
 (22, 3): 'it',
 (22, 4): 'need',
 (22, 5): 'hardly',
 (22, 6): 'be',
 (22, 7): 'said,',
 (22, 8): 'continued',
 (22, 9): 'to',
 (22, 10): 'make',
 (22, 11): 'their\n',
 (23, 0): 'observations',
 (23, 1): 'with',
 (23, 2): 'redoubled',
 (23, 3): 'interest,',
 (23, 4): 'if',
 (23, 5): 'redoubled',
 (23, 6): 'interest',
 (23, 7): 'were\n',
 (24, 0): 'possible.',
 (24, 1): 'But',
 (24, 2): 'with',
 (24, 3): 'all',
 (24, 4): 'their',
 (24, 5): 'care',
 (24, 6): 'they',
 (24, 7): 'could',
 (24, 8): 'as',
 (24, 9): 'yet',
 (24, 10): 'determine',
 (24, 11): 'nothing\n',
 (25, 0): 'regarding',
 (25, 1): 'the',
 (25, 2): 'topographical',
 (25, 3): 'details',
 (25, 4): 'of',
 (25, 5): 'our',
 (25, 6): 'radiant',
 (25, 7): 'satellite.',
 (25, 8): 'Her\n',
 (26, 0): 'surface',
 (26, 1): 'still',
 (26, 2): 'reflected',
 (26, 3): 'the',
 (26, 4): 'solar',
 (26, 5): 'rays',
 (26, 6): 'too',
 (26, 7): 'dazzlingly',
 (26, 8): 'to',
 (26, 9): 'show',
 (26, 10): 'the',
 (26, 11): 'relief\n',
 (27, 0): 'necessary',
 (27, 1): 'for',
 (27, 2): 'satisfactory',
 (27, 3): 'observation.\n',
 (28, 0): '\n',
 (29, 0): 'Our',
 (29, 1): 'travellers',
 (29, 2): 'kept',
 (29, 3): 'steadily',
 (29, 4): 'on',
 (29, 5): 'the',
 (29, 6): 'watch',
 (29, 7): 'looking',
 (29, 8): 'out',
 (29, 9): 'of',
 (29, 10): 'the',
 (29, 11): 'side\n',
 (30, 0): 'lights,',
 (30, 1): 'till',
 (30, 2): 'eight',
 (30, 3): "o'clock",
 (30, 4): 'in',
 (30, 5): 'the',
 (30, 6): 'evening,',
 (30, 7): 'by',
 (30, 8): 'which',
 (30, 9): 'time',
 (30, 10): 'the',
 (30, 11): 'Moon',
 (30, 12): 'had\n',
 (31, 0): 'grown',
 (31, 1): 'so',
 (31, 2): 'large',
 (31, 3): 'in',
 (31, 4): 'their',
 (31, 5): 'eyes',
 (31, 6): 'that',
 (31, 7): 'she',
 (31, 8): 'covered',
 (31, 9): 'up',
 (31, 10): 'fully',
 (31, 11): 'half',
 (31, 12): 'the',
 (31, 13): 'sky.',
 (31, 14): 'At\n',
 (32, 0): 'this',
 (32, 1): 'time',
 (32, 2): 'the',
 (32, 3): 'Projectile',
 (32, 4): 'itself',
 (32, 5): 'must',
 (32, 6): 'have',
 (32, 7): 'looked',
 (32, 8): 'like',
 (32, 9): 'a',
 (32, 10): 'streak',
 (32, 11): 'of',
 (32, 12): 'light,\n',
 (33, 0): 'reflecting,',
 (33, 1): 'as',
 (33, 2): 'it',
 (33, 3): 'did,',
 (33, 4): 'the',
 (33, 5): "Sun's",
 (33, 6): 'brilliancy',
 (33, 7): 'on',
 (33, 8): 'the',
 (33, 9): 'one',
 (33, 10): 'side',
 (33, 11): 'and',
 (33, 12): 'the\n',
 (34, 0): "Moon's",
 (34, 1): 'splendor',
 (34, 2): 'on',
 (34, 3): 'the',
 (34, 4): 'other.\n',
 (35, 0): '\n',
 (36, 0): 'Barbican',
 (36, 1): 'now',
 (36, 2): 'took',
 (36, 3): 'a',
 (36, 4): 'careful',
 (36, 5): 'observation',
 (36, 6): 'and',
 (36, 7): 'calculated',
 (36, 8): 'that',
 (36, 9): 'they',
 (36, 10): 'could\n',
 (37, 0): 'not',
 (37, 1): 'be',
 (37, 2): 'much',
 (37, 3): 'more',
 (37, 4): 'than',
 (37, 5): '2,000',
 (37, 6): 'miles',
 (37, 7): 'from',
 (37, 8): 'the',
 (37, 9): 'object',
 (37, 10): 'of',
 (37, 11): 'their',
 (37, 12): 'journey.',
 (37, 13): 'The\n',
 (38, 0): 'velocity',
 (38, 1): 'of',
 (38, 2): 'the',
 (38, 3): 'Projectile',
 (38, 4): 'he',
 (38, 5): 'calculated',
 (38, 6): 'to',
 (38, 7): 'be',
 (38, 8): 'about',
 (38, 9): '650',
 (38, 10): 'feet',
 (38, 11): 'per',
 (38, 12): 'second\n',
 (39, 0): 'or',
 (39, 1): '450',
 (39, 2): 'miles',
 (39, 3): 'an',
 (39, 4): 'hour.',
 (39, 5): 'They',
 (39, 6): 'had',
 (39, 7): 'therefore',
 (39, 8): 'still',
 (39, 9): 'plenty',
 (39, 10): 'of',
 (39, 11): 'time',
 (39, 12): 'to',
 (39, 13): 'reach\n',
 (40, 0): 'the',
 (40, 1): 'Moon',
 (40, 2): 'in',
 (40, 3): 'about',
 (40, 4): 'four',
 (40, 5): 'hours.',
 (40, 6): 'But',
 (40, 7): 'though',
 (40, 8): 'the',
 (40, 9): 'bottom',
 (40, 10): 'of',
 (40, 11): 'the',
 (40, 12): 'Projectile\n',
 (41, 0): 'continued',
 (41, 1): 'to',
 (41, 2): 'turn',
 (41, 3): 'towards',
 (41, 4): 'the',
 (41, 5): 'lunar',
 (41, 6): 'surface',
 (41, 7): 'in',
 (41, 8): 'obedience',
 (41, 9): 'to',
 (41, 10): 'the',
 (41, 11): 'law',
 (41, 12): 'of\n',
 (42, 0): 'centripetal',
 (42, 1): 'force,',
 (42, 2): 'the',
 (42, 3): 'centrifugal',
 (42, 4): 'force',
 (42, 5): 'was',
 (42, 6): 'still',
 (42, 7): 'evidently',
 (42, 8): 'strong\n',
 (43, 0): 'enough',
 (43, 1): 'to',
 (43, 2): 'change',
 (43, 3): 'the',
 (43, 4): 'path',
 (43, 5): 'which',
 (43, 6): 'it',
 (43, 7): 'followed',
 (43, 8): 'into',
 (43, 9): 'some',
 (43, 10): 'kind',
 (43, 11): 'of',
 (43, 12): 'curve,',
 (43, 13): 'the\n',
 (44, 0): 'exact',
 (44, 1): 'nature',
 (44, 2): 'of',
 (44, 3): 'which',
 (44, 4): 'would',
 (44, 5): 'be',
 (44, 6): 'exceedingly',
 (44, 7): 'difficult',
 (44, 8): 'to',
 (44, 9): 'calculate.\n',
 (45, 0): '\n',
 (46, 0): 'The',
 (46, 1): 'careful',
 (46, 2): 'observations',
 (46, 3): 'that',
 (46, 4): 'Barbican',
 (46, 5): 'continued',
 (46, 6): 'to',
 (46, 7): 'take',
 (46, 8): 'did',
 (46, 9): 'not',
 (46, 10): 'however\n',
 (47, 0): 'prevent',
 (47, 1): 'him',
 (47, 2): 'from',
 (47, 3): 'endeavoring',
 (47, 4): 'to',
 (47, 5): 'solve',
 (47, 6): 'his',
 (47, 7): 'difficult',
 (47, 8): 'problem.',
 (47, 9): 'What',
 (47, 10): '_had_\n',
 (48, 0): 'switched',
 (48, 1): 'them',
 (48, 2): 'off?',
 (48, 3): 'The',
 (48, 4): 'hours',
 (48, 5): 'passed',
 (48, 6): 'on,',
 (48, 7): 'but',
 (48, 8): 'brought',
 (48, 9): 'no',
 (48, 10): 'result.',
 (48, 11): 'That',
 (48, 12): 'the\n',
 (49, 0): 'adventurers',
 (49, 1): 'were',
 (49, 2): 'approaching',
 (49, 3): 'the',
 (49, 4): 'Moon',
 (49, 5): 'was',
 (49, 6): 'evident,',
 (49, 7): 'but',
 (49, 8): 'it',
 (49, 9): 'was',
 (49, 10): 'just',
 (49, 11): 'as\n',
 (50, 0): 'evident',
 (50, 1): 'that',
 (50, 2): 'they',
 (50, 3): 'should',
 (50, 4): 'never',
 (50, 5): 'reach',
 (50, 6): 'her.',
 (50, 7): 'The',
 (50, 8): 'nearest',
 (50, 9): 'point',
 (50, 10): 'the\n',
 (51, 0): 'Projectile',
 (51, 1): 'could',
 (51, 2): 'ever',
 (51, 3): 'possibly',
 (51, 4): 'attain',
 (51, 5): 'would',
 (51, 6): 'only',
 (51, 7): 'be',
 (51, 8): 'the',
 (51, 9): 'result',
 (51, 10): 'of',
 (51, 11): 'two\n',
 (52, 0): 'opposite',
 (52, 1): 'forces,',
 (52, 2): 'the',
 (52, 3): 'attractive',
 (52, 4): 'and',
 (52, 5): 'the',
 (52, 6): 'repulsive,',
 (52, 7): 'which,',
 (52, 8): 'as',
 (52, 9): 'was',
 (52, 10): 'now\n',
 (53, 0): 'clear,',
 (53, 1): 'influenced',
 (53, 2): 'its',
 (53, 3): 'motion.',
 (53, 4): 'Therefore,',
 (53, 5): 'to',
 (53, 6): 'land',
 (53, 7): 'in',
 (53, 8): 'the',
 (53, 9): 'Moon',
 (53, 10): 'was',
 (53, 11): 'an\n',
 (54, 0): 'utter',
 (54, 1): 'impossibility,',
 (54, 2): 'and',
 (54, 3): 'any',
 (54, 4): 'such',
 (54, 5): 'idea',
 (54, 6): 'was',
 (54, 7): 'to',
 (54, 8): 'be',
 (54, 9): 'given',
 (54, 10): 'up',
 (54, 11): 'at',
 (54, 12): 'once',
 (54, 13): 'and\n',
 (55, 0): 'for',
 (55, 1): 'ever.\n',
 (56, 0): '\n',
 (57, 0): '"_Quand',
 (57, 1): 'même_!',
 (57, 2): 'What',
 (57, 3): 'of',
 (57, 4): 'it!"',
 (57, 5): 'cried',
 (57, 6): 'Ardan;',
 (57, 7): 'after',
 (57, 8): 'some',
 (57, 9): "moments'",
 (57, 10): 'silence.\n',
 (58, 0): '"We\'re',
 (58, 1): 'not',
 (58, 2): 'to',
 (58, 3): 'land',
 (58, 4): 'in',
 (58, 5): 'the',
 (58, 6): 'Moon!',
 (58, 7): 'Well!',
 (58, 8): 'let',
 (58, 9): 'us',
 (58, 10): 'do',
 (58, 11): 'the',
 (58, 12): 'next',
 (58, 13): 'best\n',
 (59, 0): 'thing--pass',
 (59, 1): 'close',
 (59, 2): 'enough',
 (59, 3): 'to',
 (59, 4): 'discover',
 (59, 5): 'her',
 (59, 6): 'secrets!"\n',
 (60, 0): '\n',
 (61, 0): 'But',
 (61, 1): "M'Nicholl",
 (61, 2): 'could',
 (61, 3): 'not',
 (61, 4): 'accept',
 (61, 5): 'the',
 (61, 6): 'situation',
 (61, 7): 'so',
 (61, 8): 'coolly.',
 (61, 9): 'On',
 (61, 10): 'the',
 (61, 11): 'contrary,\n',
 (62, 0): 'he',
 (62, 1): 'decidedly',
 (62, 2): 'lost',
 (62, 3): 'his',
 (62, 4): 'temper,',
 (62, 5): 'as',
 (62, 6): 'is',
 (62, 7): 'occasionally',
 (62, 8): 'the',
 (62, 9): 'case',
 (62, 10): 'with',
 (62, 11): 'even\n',
 (63, 0): 'phlegmatic',
 (63, 1): 'men.',
 (63, 2): 'He',
 (63, 3): 'muttered',
 (63, 4): 'an',
 (63, 5): 'oath',
 (63, 6): 'or',
 (63, 7): 'two,',
 (63, 8): 'but',
 (63, 9): 'in',
 (63, 10): 'a',
 (63, 11): 'voice',
 (63, 12): 'hardly',
 (63, 13): 'loud\n',
 (64, 0): 'enough',
 (64, 1): 'to',
 (64, 2): 'reach',
 (64, 3): "Barbican's",
 (64, 4): 'ear.',
 (64, 5): 'At',
 (64, 6): 'last,',
 (64, 7): 'impatient',
 (64, 8): 'of',
 (64, 9): 'further',
 (64, 10): 'restraint,\n',
 (65, 0): 'he',
 (65, 1): 'burst',
 (65, 2): 'out:\n',
 (66, 0): '\n',
 (67, 0): '"Who',
 (67, 1): 'the',
 (67, 2): 'deuce',
 (67, 3): 'cares',
 (67, 4): 'for',
 (67, 5): 'her',
 (67, 6): 'secrets?',
 (67, 7): 'To',
 (67, 8): 'the',
 (67, 9): 'hangman',
 (67, 10): 'with',
 (67, 11): 'her',
 (67, 12): 'secrets!\n',
 (68, 0): 'We',
 (68, 1): 'started',
 (68, 2): 'to',
 (68, 3): 'land',
 (68, 4): 'in',
 (68, 5): 'the',
 (68, 6): 'Moon!',
 (68, 7): "That's",
 (68, 8): "what's",
 (68, 9): 'got',
 (68, 10): 'to',
 (68, 11): 'be',
 (68, 12): 'done!',
 (68, 13): 'That',
 (68, 14): 'I\n',
 (69, 0): 'want',
 (69, 1): 'or',
 (69, 2): 'nothing!',
 (69, 3): 'Confound',
 (69, 4): 'the',
 (69, 5): 'darned',
 (69, 6): 'thing,',
 (69, 7): 'I',
 (69, 8): 'say,',
 (69, 9): 'whatever',
 (69, 10): 'it',
 (69, 11): 'was,\n',
 (70, 0): 'whether',
 (70, 1): 'on',
 (70, 2): 'the',
 (70, 3): 'Earth',
 (70, 4): 'or',
 (70, 5): 'off',
 (70, 6): 'it,',
 (70, 7): 'that',
 (70, 8): 'shoved',
 (70, 9): 'us',
 (70, 10): 'off',
 (70, 11): 'the',
 (70, 12): 'track!"\n',
 (71, 0): '\n',
 (72, 0): '"On',
 (72, 1): 'the',
 (72, 2): 'Earth',
 (72, 3): 'or',
 (72, 4): 'off',
 (72, 5): 'it!"',
 (72, 6): 'cried',
 (72, 7): 'Barbican,',
 (72, 8): 'striking',
 (72, 9): 'his',
 (72, 10): 'head',
 (72, 11): 'suddenly;\n',
 (73, 0): '"now',
 (73, 1): 'I',
 (73, 2): 'see',
 (73, 3): 'it!',
 (73, 4): "You're",
 (73, 5): 'right,',
 (73, 6): 'Captain!',
 (73, 7): 'Confound',
 (73, 8): 'the',
 (73, 9): 'bolide',
 (73, 10): 'that',
 (73, 11): 'we',
 (73, 12): 'met\n',
 (74, 0): 'the',
 (74, 1): 'first',
 (74, 2): 'night',
 (74, 3): 'of',
 (74, 4): 'our',
 (74, 5): 'journey!"\n',
 (75, 0): '\n',
 (76, 0): '"Hey?"',
 (76, 1): 'cried',
 (76, 2): 'Ardan.\n',
 (77, 0): '\n',
 (78, 0): '"What',
 (78, 1): 'do',
 (78, 2): 'you',
 (78, 3): 'mean?"',
 (78, 4): 'asked',
 (78, 5): "M'Nicholl.\n",
 (79, 0): '\n',
 (80, 0): '"I',
 (80, 1): 'mean,"',
 (80, 2): 'replied',
 (80, 3): 'Barbican,',
 (80, 4): 'with',
 (80, 5): 'a',
 (80, 6): 'voice',
 (80, 7): 'now',
 (80, 8): 'perfectly',
 (80, 9): 'calm,',
 (80, 10): 'and',
 (80, 11): 'in',
 (80, 12): 'a\n',
 (81, 0): 'tone',
 (81, 1): 'of',
 (81, 2): 'quiet',
 (81, 3): 'conviction,',
 (81, 4): '"that',
 (81, 5): 'our',
 (81, 6): 'deviation',
 (81, 7): 'is',
 (81, 8): 'due',
 (81, 9): 'altogether',
 (81, 10): 'to',
 (81, 11): 'that\n',
 (82, 0): 'wandering',
 (82, 1): 'meteor."\n',
 (83, 0): '\n',
 (84, 0): '"Why,',
 (84, 1): 'it',
 (84, 2): 'did',
 (84, 3): 'not',
 (84, 4): 'even',
 (84, 5): 'graze',
 (84, 6): 'us!"',
 (84, 7): 'cried',
 (84, 8): 'Ardan.\n',
 (85, 0): '\n',
 (86, 0): '"No',
 (86, 1): 'matter',
 (86, 2): 'for',
 (86, 3): 'that,"',
 (86, 4): 'replied',
 (86, 5): 'Barbican.',
 (86, 6): '"Its',
 (86, 7): 'mass,',
 (86, 8): 'compared',
 (86, 9): 'to',
 (86, 10): 'ours,',
 (86, 11): 'was\n',
 (87, 0): 'enormous,',
 (87, 1): 'and',
 (87, 2): 'its',
 (87, 3): 'attraction',
 (87, 4): 'was',
 (87, 5): 'undoubtedly',
 (87, 6): 'sufficiently',
 (87, 7): 'great',
 (87, 8): 'to\n',
 (88, 0): 'influence',
 (88, 1): 'our',
 (88, 2): 'deviation."\n',
 (89, 0): '\n',
 (90, 0): '"Hardly',
 (90, 1): 'enough',
 (90, 2): 'to',
 (90, 3): 'be',
 (90, 4): 'appreciable,"',
 (90, 5): 'urged',
 (90, 6): "M'Nicholl.\n",
 (91, 0): '\n',
 (92, 0): '"Right',
 (92, 1): 'again,',
 (92, 2): 'Captain,"',
 (92, 3): 'observed',
 (92, 4): 'Barbican.',
 (92, 5): '"But',
 (92, 6): 'just',
 (92, 7): 'remember',
 (92, 8): 'an\n',
 (93, 0): 'observation',
 (93, 1): 'of',
 (93, 2): 'your',
 (93, 3): 'own',
 (93, 4): 'made',
 (93, 5): 'this',
 (93, 6): 'very',
 (93, 7): 'afternoon:',
 (93, 8): 'an',
 (93, 9): 'inch,',
 (93, 10): 'a',
 (93, 11): 'line,',
 (93, 12): 'even\n',
 (94, 0): 'the',
 (94, 1): 'tenth',
 (94, 2): 'part',
 (94, 3): 'of',
 (94, 4): 'a',
 (94, 5): "hair's",
 (94, 6): 'breadth',
 (94, 7): 'wrong',
 (94, 8): 'at',
 (94, 9): 'the',
 (94, 10): 'beginning,',
 (94, 11): 'in',
 (94, 12): 'a',
 (94, 13): 'journey\n',
 (95, 0): 'of',
 (95, 1): '240',
 (95, 2): 'thousand',
 (95, 3): 'miles,',
 (95, 4): 'would',
 (95, 5): 'be',
 (95, 6): 'sufficient',
 (95, 7): 'to',
 (95, 8): 'make',
 (95, 9): 'us',
 (95, 10): 'miss',
 (95, 11): 'the',
 (95, 12): 'Moon!"\n',
 (96, 0): '\n',
 (97, 0): '\n',
 (98, 0): '\n',
 (99, 0): '\n',
 (100, 0): 'CHAPTER',
 (100, 1): 'X.\n',
 (101, 0): '\n',
 (102, 0): 'THE',
 (102, 1): 'OBSERVERS',
 (102, 2): 'OF',
 (102, 3): 'THE',
 (102, 4): 'MOON.\n',
 (103, 0): '\n',
 (104, 0): '\n',
 (105, 0): "Barbican's",
 (105, 1): 'happy',
 (105, 2): 'conjecture',
 (105, 3): 'had',
 (105, 4): 'probably',
 (105, 5): 'hit',
 (105, 6): 'the',
 (105, 7): 'nail',
 (105, 8): 'on',
 (105, 9): 'the',
 (105, 10): 'head.',
 (105, 11): 'The\n',
 (106, 0): 'divergency',
 (106, 1): 'even',
 (106, 2): 'of',
 (106, 3): 'a',
 (106, 4): 'second',
 (106, 5): 'may',
 (106, 6): 'amount',
 (106, 7): 'to',
 (106, 8): 'millions',
 (106, 9): 'of',
 (106, 10): 'miles',
 (106, 11): 'if',
 (106, 12): 'you',
 (106, 13): 'only\n',
 (107, 0): 'have',
 (107, 1): 'your',
 (107, 2): 'lines',
 (107, 3): 'long',
 (107, 4): 'enough.',
 (107, 5): 'The',
 (107, 6): 'Projectile',
 (107, 7): 'had',
 (107, 8): 'certainly',
 (107, 9): 'gone',
 (107, 10): 'off',
 (107, 11): 'its\n',
 (108, 0): 'direct',
 (108, 1): 'course;',
 (108, 2): 'whatever',
 (108, 3): 'the',
 (108, 4): 'cause,',
 (108, 5): 'the',
 (108, 6): 'fact',
 (108, 7): 'was',
 (108, 8): 'undoubted.',
 (108, 9): 'It',
 (108, 10): 'was',
 (108, 11): 'a\n',
 (109, 0): 'great',
 (109, 1): 'pity.',
 (109, 2): 'The',
 (109, 3): 'daring',
 (109, 4): 'attempt',
 (109, 5): 'must',
 (109, 6): 'end',
 (109, 7): 'in',
 (109, 8): 'a',
 (109, 9): 'failure',
 (109, 10): 'due',
 (109, 11): 'altogether',
 (109, 12): 'to',
 (109, 13): 'a\n',
 (110, 0): 'fortuitous',
 (110, 1): 'accident,',
 (110, 2): 'against',
 (110, 3): 'which',
 (110, 4): 'no',
 (110, 5): 'human',
 (110, 6): 'foresight',
 (110, 7): 'could',
 (110, 8): 'have\n',
 (111, 0): 'possibly',
 (111, 1): 'taken',
 (111, 2): 'precaution.',
 (111, 3): 'Unless',
 (111, 4): 'in',
 (111, 5): 'case',
 (111, 6): 'of',
 (111, 7): 'the',
 (111, 8): 'occurrence',
 (111, 9): 'of',
 (111, 10): 'some\n',
 (112, 0): 'other',
 (112, 1): 'most',
 (112, 2): 'improbable',
 (112, 3): 'accident,',
 (112, 4): 'reaching',
 (112, 5): 'the',
 (112, 6): 'Moon',
 (112, 7): 'was',
 (112, 8): 'evidently',
 (112, 9): 'now\n',
 (113, 0): 'impossible.',
 (113, 1): 'To',
 (113, 2): 'failure,',
 (113, 3): 'therefore,',
 (113, 4): 'our',
 (113, 5): 'travellers',
 (113, 6): 'had',
 (113, 7): 'to',
 (113, 8): 'make',
 (113, 9): 'up',
 (113, 10): 'their\n',
 (114, 0): 'minds.\n',
 (115, 0): '\n',
 (116, 0): 'But',
 (116, 1): 'was',
 (116, 2): 'nothing',
 (116, 3): 'to',
 (116, 4): 'be',
 (116, 5): 'gained',
 (116, 6): 'by',
 ...}

In [26]:
my_anno

                      key  NER
0        ((2, 4), (2, 4))  PER
1        ((8, 4), (8, 5))  VEH
2        ((9, 3), (9, 4))  LOC
3      ((11, 9), (11, 9))  PER
4     ((12, 8), (12, 10))  LOC
..                    ...  ...
140  ((269, 8), (269, 9))  GPE
141  ((269, 0), (269, 2))  GPE
142  ((269, 3), (269, 6))  GPE
143  ((263, 8), (264, 0))  GPE
144  ((262, 7), (263, 0))  GPE

[145 rows x 2 columns]

In [27]:
import re
w_all = []
num = my_anno.key
w_all = []
for k in range(len(num)):
    print(k)
    split_annotate_num = num[k]
    i0 = int(split_annotate_num[0][0])
    j0 = int(split_annotate_num[0][1])
    i1 = int(split_annotate_num[1][0])
    j1 = int(split_annotate_num[1][1])

    if (i0 == i1) and (j0 == j1):
        w = res[(i0,j0)]
    elif i0 == i1:
        w = ""
        for j in range(j0,j1+1):
            w += " "+res[(i0,j)]
    else:
        w = ""
        for i in range(i0,i1+1):
            if i == i0:
                for j in range(j0,ith_len[i]):
                    w += " "+res[(i,j)]
            elif i == i1:
                for j in range(0,j1+1):
                    w += " "+res[(i,j)]
            else :
                for j in range(0,ith_len[i]):
                    w += " "+res[(i,j)]

    w_all.append(re.sub("[^a-zA-Z( )]","",w).lower().strip())
w_all

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144

['barbican',
 'the projectile',
 'the moon',
 'barbican',
 'the lunar surface',
 'the projectile',
 'the moons',
 'the travellers',
 'the lunar disc',
 'the three friends',
 'our travellers',
 'the moon',
 'the projectile',
 'the suns',
 'barbican',
 'the projectile',
 'the moon',
 'the projectile',
 'the lunar surface',
 'barbican',
 'adventurers',
 'the moon',
 'the moon',
 'ardan',
 'the moon',
 'mnicholl',
 'phlegmatic men',
 'barbicans',
 'the hangman',
 'the moon',
 'the earth',
 'barbican',
 'the earth',
 'captain',
 'ardan',
 'mnicholl',
 'barbican',
 'ardan',
 'barbican',
 'mnicholl',
 'captain',
 'barbican',
 'the moon',
 'observers',
 'the moon',
 'barbicans',
 'the projectile',
 'human',
 'the moon',
 'our travellers',
 'the moon',
 'scientists',
 'ardan',
 'adventurers',
 'the moon',
 'the moon',
 'astronomers',
 'parsonstown',
 'lord rosses',
 'the moon',
 'barbicans',
 'the summit',
 'longs peak',
 'the moon',
 'the earth',
 'adventurers',
 'our adventurers',
 'the moon',
 'seas',
 'mountains',
 'the mountains',
 'the spherical surface',
 'the moon',
 'the earth',
 'scientists',
 'the moons',
 'the earth',
 'the travellers',
 'balloonists',
 'the moon',
 'the earth',
 'the projectile',
 'an express train',
 'ardan',
 'the lunar surface',
 'barbicans',
 'friend',
 'the moon',
 'ardans',
 'the moon',
 'the moon',
 'beer',
 'maedler',
 'barbican',
 'the northern hemisphere',
 'plains',
 'the southern',
 'mountainsa',
 'the moon',
 'the moon',
 'observatory',
 'the cambridge observatory',
 'stony hill',
 'the moon',
 'our readers',
 'the travellers',
 'faculties',
 'representatives',
 'the earth',
 'man',
 'the lunar regions',
 'barbican',
 'observers',
 'the moon',
 'galileo',
 'the lunar surface',
 'mountains',
 'hevel of dantzic',
 'hevelius',
 'galileos',
 'astronomer',
 'observatory',
 'the moon',
 'mountains',
 'plains',
 'seas',
 'the seas',
 'our earth',
 'an arabia',
 'an tna',
 'a mount sinai',
 'alps',
 'apennines',
 'carpathians',
 'a sicily',
 'a palus molis',
 'a pontus euxinus',
 'our globe',
 'continents',
 'the south',
 'cochin china',
 'the indian peninsula',
 'the bay of bengal',
 'a caspian sea',
 'a mediterranean']

In [28]:
annotated_step2_my = pd.DataFrame({"word":w_all,"ano":my_anno.NER,"num" : num})
annotated_step2_my["word"] = annotated_step2_my["word"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
annotated_step2_my = annotated_step2_my.drop_duplicates()
annotated_step2_my["num"] = annotated_step2_my["num"].apply(lambda x : str(x))
annotated_step2_my

                     word  ano                   num
0                barbican  PER      ((2, 4), (2, 4))
1          the projectile  VEH      ((8, 4), (8, 5))
2                the moon  LOC      ((9, 3), (9, 4))
3                barbican  PER    ((11, 9), (11, 9))
4       the lunar surface  LOC   ((12, 8), (12, 10))
..                    ...  ...                   ...
140          cochin china  GPE  ((269, 8), (269, 9))
141  the indian peninsula  GPE  ((269, 0), (269, 2))
142     the bay of bengal  GPE  ((269, 3), (269, 6))
143         a caspian sea  GPE  ((263, 8), (264, 0))
144       a mediterranean  GPE  ((262, 7), (263, 0))

[145 rows x 3 columns]

In [29]:
# 교수님꺼
num = list(map(lambda x : x.split("-")[0].strip() if len(x.split("-")) == 2 else "",anno_data))[:-1]
ano = list(map(lambda x : x.split("-")[1].strip() if len(x.split("-")) == 2 else "",anno_data))[:-1]

w_all = []
for k in range(len(num)):
    split_annotate_num = re.sub("[^0-9,]","",num[k]).split(",")
    i0 = int(split_annotate_num[0])
    j0 = int(split_annotate_num[1])
    i1 = int(split_annotate_num[2])
    j1 = int(split_annotate_num[3])

    if (i0 == i1) and (j0 == j1):
        w = res[(i0,j0)]
    elif i0 == i1:
        w = ""
        for j in range(j0,j1+1):
            w += " "+res[(i0,j)]
    else:
        w = ""
        for i in range(i0,i1+1):
            if i == i0:
                for j in range(j0,ith_len[i]):
                    w += " "+res[(i,j)]
            elif i == i1:
                for j in range(0,j1+1):
                    w += " "+res[(i,j)]
            else :
                for j in range(0,ith_len[i]):
                    w += " "+res[(i,j)]

    w_all.append(re.sub("[^a-zA-Z( )]","",w).lower().strip())
w_all

['therefore',
 'the travellers',
 'this',
 'the moon',
 'hemisphere',
 'an arabia',
 'the hangman',
 'the moon they were now approaching',
 'their',
 'they',
 'the moon',
 'it',
 'thousand',
 'hevel of dantzic',
 'mnicholl',
 'here',
 'us',
 'the',
 'our',
 'our satellite',
 'the lunar surface',
 'the',
 'their',
 'the',
 'they',
 'her',
 'the travellers',
 'they',
 'their',
 'the mountains',
 'their namesakes',
 'they',
 'i',
 'even phlegmatic men',
 'captain',
 'balloonists',
 'a sicily',
 'therefore',
 'barbican',
 'they',
 'our modern astronomers',
 'spherical',
 'the',
 'the',
 'stony hill',
 'mediterranean',
 'an tna',
 'the moons',
 'themselves',
 'our',
 'he',
 'heart',
 'the moon',
 'them',
 'were',
 'her',
 'the adventurers',
 'mnicholl',
 'barbican',
 'a polish astronomermore',
 'courage',
 'checkering',
 'mathematical',
 'the moon',
 'his',
 'the moon',
 'he',
 'them',
 'our',
 'her',
 'the',
 'us',
 'barbican',
 'northern',
 'the moon',
 'our',
 'apennines carpathians',
 'southern',
 'her',
 'them',
 'the earth',
 'our',
 'the',
 'galileos',
 'where',
 'she',
 'switched',
 'well',
 'his',
 'her',
 'the moon',
 'the',
 'his',
 'our',
 'mnicholl',
 'the moon',
 'therefore',
 'barbicans',
 'ardan',
 'the lunar surface',
 'the earth',
 'the',
 'they',
 'he',
 'their',
 'him',
 'i',
 'himself',
 'her',
 'these',
 'she',
 'their',
 'they',
 'the moon',
 'he',
 'the',
 'him',
 'our readers',
 'them',
 'the former observers of the moon',
 'him',
 'ardans',
 'there',
 'just',
 'their',
 'they',
 'some of our modern astronomers',
 'sphere',
 'the',
 'thereby',
 'our',
 'our',
 'great depressions',
 'barbicans',
 'ardan',
 'they',
 'them',
 'the wide open spot',
 'our',
 'its',
 'them',
 'its',
 'they',
 'were',
 'their',
 'the',
 'the moon',
 'he',
 'reservedthey',
 'between',
 'us',
 'we',
 'an observer posted in the bottom of the columbiad at stony hill',
 'the lunar surface',
 'northern',
 'the moon',
 'the moon',
 'published',
 'a caspian',
 'pontus euxinus',
 'their',
 'the',
 'themselves',
 'spheriod',
 'hemisphere',
 'your',
 'her',
 'the moon',
 'hevelius',
 'the',
 'lord rosses',
 'his',
 'they',
 'the bottom of the columbiad at stony hill',
 'some scientists',
 'the moon',
 'their',
 'we',
 'journey',
 'sicily',
 'therefore',
 'they',
 'their',
 'his',
 'the',
 'a pontus',
 'the others',
 'mountains',
 'the',
 'barbican',
 'galileo',
 'his',
 'the',
 'her',
 'ardan',
 'the south with vast continents',
 'us',
 'we',
 'an express train',
 'these',
 'your',
 'he',
 'he',
 'our earth',
 'caspian sea',
 'us',
 'the',
 'we',
 'the',
 'her',
 'the',
 'mount sinai',
 'ardan',
 'he',
 'he',
 'our travellers',
 'the moon',
 'the deuce',
 'quadratureshis',
 'they',
 'farther',
 'therefore',
 'the',
 'they',
 'her',
 'the moons',
 'the earth',
 'the',
 'caspian sea',
 'her',
 'arabia',
 'their',
 'his',
 'barbican',
 'they',
 'the earth',
 'carpathians',
 'parsonstown',
 'the moon',
 'the track',
 'the moon',
 'its vast plains and great depressions',
 'whether',
 'the',
 'his',
 'our',
 'her',
 'indian peninsula',
 'these',
 'us',
 'the moon',
 'himself',
 'cochin china',
 'owe',
 'whether',
 'the projectile',
 'our adventurers',
 'our travellers',
 'the travellers',
 'dear friend',
 'they',
 'ardan',
 'their',
 'he',
 'they',
 'the',
 'the',
 'their',
 'well',
 'his',
 'the moon',
 'the moons',
 'their',
 'they',
 'our globe',
 'her',
 'she',
 'the',
 'these',
 'barbicans',
 'she',
 'barbican',
 'you',
 'these',
 'her',
 'they',
 'the race of man',
 'captain',
 'they',
 'our bold adventurers',
 'our',
 'lower',
 'the circular mountains',
 'the vast plains',
 'lower',
 'them',
 'therefore',
 'the',
 'a mount',
 'the moon',
 'himself',
 'you',
 'the',
 'a mediterranean',
 'lunar maps',
 'this eminent astronomer',
 'the lunar disc',
 'he',
 'barbican',
 'barbican',
 'the moon',
 'the',
 'heights',
 'maedler',
 'her',
 'were',
 'our',
 'he',
 'the',
 'were',
 'it',
 'the moon',
 'they',
 'bengal',
 'themselves',
 'their',
 'palus molis',
 'its',
 'barbican',
 'her',
 'the three friends',
 'the',
 'i',
 'they',
 'our',
 'the',
 'he',
 'our',
 'the moon',
 'the moon',
 'us',
 'their',
 'they',
 'youre',
 'his',
 'beer',
 'this',
 'we',
 'them',
 'his',
 'his',
 'they',
 'the',
 'further',
 'she',
 'we',
 'the moon',
 'the',
 'the',
 'the',
 'himself',
 'we',
 'those infinite solitudes',
 'their',
 'i',
 'him',
 'he',
 'the northern hemisphere',
 'smothering',
 'the lunar regions',
 'they',
 'his own observatory',
 'the earth',
 'therefore',
 'themselves',
 'the moon',
 'their',
 'their',
 'the',
 'her',
 'he',
 'the cambridge observatory',
 'a palus',
 'you',
 'the',
 'barbican',
 'the',
 'her',
 'course',
 'ours',
 'the earth',
 'themselves',
 'and cochin',
 'the moon',
 'scientists',
 'the inhabitants of the earth',
 'their',
 'our',
 'the',
 'the travellers',
 'the',
 'the earth']

In [30]:
annotated_step2_professor = pd.DataFrame({"word_p":w_all,"ano_p":ano,"num" : num})
annotated_step2_professor["word_p"] = annotated_step2_professor["word_p"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
annotated_step2_professor = annotated_step2_professor.drop_duplicates()
annotated_step2_professor

             word_p ano_p                     num
0         therefore   PER  ((202, 11), (202, 11))
1    the travellers   PER   ((211, 13), (212, 0))
2              this   PER    ((254, 7), (254, 7))
3          the moon   LOC    ((129, 4), (129, 5))
4        hemisphere   PER    ((195, 0), (195, 0))
..              ...   ...                     ...
397             our   PER    ((221, 6), (221, 6))
398             the   PER  ((258, 10), (258, 10))
399  the travellers   PER    ((222, 8), (222, 9))
400             the   PER    ((41, 10), (41, 10))
401       the earth   LOC    ((225, 4), (225, 5))

[402 rows x 3 columns]

In [31]:
outer = pd.merge(annotated_step2_my,annotated_step2_professor, on = "num", how = "outer")
outer.to_excel("outer.xlsx")
outer

,word,ano,num,word_p,ano_p
0,barbican,PER,"((2, 4), (2, 4))",barbican,PER
1,the projectile,VEH,"((8, 4), (8, 5))",NaN,NaN
2,the moon,LOC,"((9, 3), (9, 4))",the moon,LOC
3,barbican,PER,"((11, 9), (11, 9))",barbican,PER
4,the lunar surface,LOC,"((12, 8), (12, 10))",the lunar surface,LOC
...,...,...,...,...,...
444,NaN,NaN,"((170, 1), (170, 5))",the inhabitants of the earth,PER
445,NaN,NaN,"((229, 7), (229, 7))",their,PER
446,NaN,NaN,"((221, 6), (221, 6))",our,PER
447,NaN,NaN,"((258, 10), (258, 10))",the,PER
448,NaN,NaN,"((41, 10), (41, 10))",the,PER

**(a)**

In [38]:
TP = len(outer[pd.notnull(outer['ano']) & (outer['ano'] == outer['ano_p'])])

FP = len(outer[pd.notnull(outer['ano']) & (outer['ano'] != outer['ano_p'])])

FN = len(outer[pd.isnull(outer['ano'])])

#
TN = 0

TP + FP + FN + TN

449

**(b)**

In [40]:
P = TP / (TP + FP)
R = TP / (TP + FN)

F1 = 2 *  (P * R) / (P + R)
F1

0.34317343173431736

In [ ]:
####################################################################################################################################################################

**Stage 3**

In [ ]:
f = open("group35-stage3.txt", 'r')
all_line = []
while True:
    line = f.readline()
    all_line.append(line)
    if not line: break
f.close()

In [ ]:
import re
data_class = pd.read_excel("./stage3 태깅.xlsx")
data_class["Word"] = data_class["Word"].apply(lambda x : x.strip())
data_class["Word"] = data_class["Word"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
data_class

In [ ]:
res = {}
i = 0
for l in all_line:
    tmp = re.sub("[^a-zA-Z( )]","",l).lower().split(" ")
    j = 0
    for w in tmp:
        if w in np.array(data_class["Word"]):
            res[((i,j),(i,j))] = data_class["Annotation"][np.array(data_class["Word"]) == w].values[0] #+ " " + w
        j += 1

    for k in range(1,6):
        j = 0
        for ab in range(len(tmp)-k):
            w = " ".join(tmp[ab:(ab+(k+1))])
            if w in np.array(data_class["Word"]):
                res[((i,j),(i,j+k))] = data_class["Annotation"][np.array(data_class["Word"]) == w].values[0] #+ " " + w
            j += 1
    i += 1

In [ ]:
my_anno = pd.DataFrame({"key" : list(res.keys()), "NER" :list(res.values())})
my_anno

In [ ]:
#줄바꿈 경우의 수 추가
newline = pd.DataFrame({"key": [((11, 13), (12, 2)),
((12, 4), (13, 0)),
((16, 10), (17, 1)),
((44, 10), (45, 0)),
((54, 8), (55, 0)),
((123, 6), (124, 2)),
((127, 11), (128, 2)),
((132, 1), (133, 1)),
((133, 3), (134, 0)),
((139, 7), (140, 0)),
((144, 11), (145, 3)),
((142, 10), (143, 1)),
((145, 11), (146, 6)),
((158, 11), (159, 0)),
((160, 6), (161, 5)),
((184, 8), (185, 0)),
((195, 10), (196, 0)),
((220, 13), (221, 1)),  
((222, 10), (223, 0)),
((223, 10), (224, 0)),
((246, 9), (247, 0)),
((250, 10), (251, 0)),
((253, 12), (254, 0))],
                        "NER": ["PER",
"PER",
"GPE",
"LOC",
"PER",
"LOC",
"LOC",
"PER",
"PER",
"PER",
"LOC",
"PER",
"PER",
"PER",
"LOC",
"LOC",
"LOC",
"GPE",  
"LOC",
"PER",
"GPE",
"GPE",
"GPE"]})
my_anno = pd.concat([my_anno,newline])

In [ ]:
my_anno = my_anno.reset_index(drop = True)
my_anno

In [ ]:
f = open("group35-stage3.txt.provided-anno.txt", 'r')
anno_data = []
while True:
    line = f.readline()
    anno_data.append(line)
    if not line: break
f.close()

anno_data[1:3]

In [ ]:
f = open("group35-stage3.txt", 'r')
org_data = []
while True:
    line = f.readline()
    org_data.append(line)
    if not line: break
f.close()
ith_len = [len(org_data[i].split(" ")) for i in range(len(org_data))][:-1]
ith_len[:5]

In [ ]:
res = {} #i는 줄, j는 열의 갯수
for i in range(len(org_data)):
    tmp = org_data[i].split(" ")
    for j in range(len(tmp)):
        res[(i,j)] = tmp[j]
res

In [ ]:
import re
w_all = []
num = my_anno.key
w_all = []
for k in range(len(num)):
    print(k)
    split_annotate_num = num[k]
    i0 = int(split_annotate_num[0][0])
    j0 = int(split_annotate_num[0][1])
    i1 = int(split_annotate_num[1][0])
    j1 = int(split_annotate_num[1][1])

    if (i0 == i1) and (j0 == j1):
        w = res[(i0,j0)]
    elif i0 == i1:
        w = ""
        for j in range(j0,j1+1):
            w += " "+res[(i0,j)]
    else:
        w = ""
        for i in range(i0,i1+1):
            if i == i0:
                for j in range(j0,ith_len[i]):
                    w += " "+res[(i,j)]
            elif i == i1:
                for j in range(0,j1+1):
                    w += " "+res[(i,j)]
            else :
                for j in range(0,ith_len[i]):
                    w += " "+res[(i,j)]

    w_all.append(re.sub("[^a-zA-Z( )]","",w).lower().strip())
w_all

In [ ]:
annotated_step2_my = pd.DataFrame({"word":w_all,"ano":my_anno.NER,"num" : num})
annotated_step2_my["word"] = annotated_step2_my["word"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
annotated_step2_my = annotated_step2_my.drop_duplicates()
annotated_step2_my["num"] = annotated_step2_my["num"].apply(lambda x : str(x))
annotated_step2_my.to_excel("stage3_final.xlsx")

In [ ]:
# 교수님꺼
num = list(map(lambda x : x.split("-")[0].strip() if len(x.split("-")) == 2 else "",anno_data))[:-1]
ano = list(map(lambda x : x.split("-")[1].strip() if len(x.split("-")) == 2 else "",anno_data))[:-1]

w_all = []
for k in range(len(num)):
    split_annotate_num = re.sub("[^0-9,]","",num[k]).split(",")
    i0 = int(split_annotate_num[0])
    j0 = int(split_annotate_num[1])
    i1 = int(split_annotate_num[2])
    j1 = int(split_annotate_num[3])

    if (i0 == i1) and (j0 == j1):
        w = res[(i0,j0)]
    elif i0 == i1:
        w = ""
        for j in range(j0,j1+1):
            w += " "+res[(i0,j)]
    else:
        w = ""
        for i in range(i0,i1+1):
            if i == i0:
                for j in range(j0,ith_len[i]):
                    w += " "+res[(i,j)]
            elif i == i1:
                for j in range(0,j1+1):
                    w += " "+res[(i,j)]
            else :
                for j in range(0,ith_len[i]):
                    w += " "+res[(i,j)]

    w_all.append(re.sub("[^a-zA-Z( )]","",w).lower().strip())
w_all

In [ ]:
annotated_step2_professor = pd.DataFrame({"word_p":w_all,"ano_p":ano,"num" : num})
annotated_step2_professor["word_p"] = annotated_step2_professor["word_p"].apply(lambda x : re.sub("[^a-zA-Z( )]","",x.lower()))
annotated_step2_professor = annotated_step2_professor.drop_duplicates()
annotated_step2_professor

In [ ]:
outer = pd.merge(annotated_step2_my,annotated_step2_professor, on = "num", how = "outer")
outer.to_excel("outer_stage3.xlsx")
outer

**(a)**

In [ ]:
TP = len(outer[pd.notnull(outer['ano']) & (outer['ano'] == outer['ano_p'])])

FP = len(outer[pd.notnull(outer['ano']) & (outer['ano'] != outer['ano_p'])])

FN = len(outer[pd.isnull(outer['ano'])])

#
TN = 0

TP + FP + FN + TN

**(b)**

In [ ]:
P = TP / (TP + FP)
R = TP / (TP + FN)

F1 = 2 *  (P * R) / (P + R)
F1